@import 'Common/variable';

#about,#objective
{
    h3{
        font-size: 22px;
        color: $dGrey_color;
        padding: 30px 0;
    }
    p{
        font-size: 24px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        color: $black_color;
        padding-bottom: 40px;
    }
}